@charset "UTF-8";

html {
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    text-decoration: none;
    color: #17479D;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
.hdr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 7px 20px 5px 130px;
    letter-spacing: -1px;
}
.hdr a,
.subnav a {
    color: #000;
}
.logo img {
    width: 61px;
}
.topnav {
    display: flex;
    align-items: center;
}
.topnav ul:first-child {
    margin-right: 150px;
}
.topnav ul:first-child li{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}
.topnav ul:last-child li {
    margin-left: 35px;
    font-size: 20px;
    font-weight: 900;
}
.topnav ul:last-child li a {
    color: #666666;

}
.topnav ul:last-child li:first-child {
    margin-left: 0;
}

nav ul {
    display: flex;
}
.subnav {
    display: flex;
    font-size: 12px;
    margin:0 0 25px 260px;
}
.bg-img {
    background-image: url(../images/h1_whats_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;
    margin-bottom: 25px;
}
.bg-img span {
    margin: 27px 0 0 395px;
    position: absolute;
    color: #fff;
    line-height: 3;
}
.bg-img span:first-child {
    font-size: 19px;
    font-weight: normal;
}
.bg-img span:last-child {
    font-size: 28px;
}
.content-u {
    width: 800px;
    margin: 0 auto;
}
.chart {
    width: 800px;
    margin-bottom: 30px;
}
.sns-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    margin-bottom: 38px;
}
.sns-icon li {
    padding-left: 22px;
}
.sns-icon img{
    width: 38px;
    margin-bottom: 5px;
}
.fa-facebook-square {
    color:#3C5A99;
}
.fa-twitter-square {
    color: #1CA1F2;
}
.fa-linkedin {
    color: #0073B2;
}
.sec-first h3 {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-bottom: 30px;
}
.sec-first h3::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../images/heading.png);
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}
.sec-first p {
    color: #5c5c5c;
    line-height: 1.9;
}
.sec-first p:nth-of-type(1) {
    margin-bottom: 15px;
}
.sec-first p:nth-of-type(2) {
    margin-bottom: 30px;
}
.btn {
    background-color: #005BAC;
    padding: 15px 10px;
    text-align: center;
    width: 310px;
    display: flex;
    align-items: center;
    margin: 0 auto 90px;
    transition: background-color .5s;
}
.btn:hover {
    background-color: #005cacac;
}
p.btn,
p.btn a{
    color: #fff;
    line-height: 1.4;
}
.btn::before {
    content: '>';
}
.fa-file-pdf {
    color: #D94641;
    margin-left: 8px;
}
.randl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.randl li:nth-child(1)::before{
    content: '<';
    margin-right: 5px;
}
.randl li:nth-child(2)::after {
    content: '>';
    margin-left: 5px;
}
.sec-first-one {
    background-color: #DEECF8;
    padding: 16px 16px;
}
.sec-first-one a:hover{
    text-decoration: none;
}
.sec-first-one h4 {
    margin: 0 0 10px 13px;
}
.sec-first-one ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec-first-one li {
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    border: 1px solid #b1b1b1;
    margin-bottom: 20px;
    background-color: #fff;
    transition: background-color .5s;
}
.sec-first-one li:hover {
    background-color: rgba(204, 204, 204, 0.619);
}
.sec-first-one a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    padding: 18px;
}
.sec-first-one a::before {
    content: ">";
    position: absolute;
    top: 18px;
    left: 7px;    
}
.sec-second {
    margin: 0 auto;
    width: 1000px;
}
.sec-second h3 {
    border-top: solid 2px #000;
    border-bottom: solid 1px #999;
    padding: 30px 0;
    margin-bottom: 30px;
}
.sec-second h4 {
    margin-bottom: 20px;
}
.sec-second ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    border-bottom: dotted 1px #999;
    padding-bottom: 10px;
}
.sec-second li {
    display: flex;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
}
.sec-second ul a {
    display: block;
    width: 100%;
}
.sec-second ul li::before {
    content: ">";
    font-size: 10px;
    padding-right: 10px;
}
.sec-second p::before {
    content: "<";
    font-size: 10px;
    padding-right: 10px;
}
.sec-second section {
    margin-bottom: 27px;
}
.sec-second section:last-of-type {
    margin-bottom: 60px;
}
.sec-second p {
    margin-bottom: 80px;
}
.sec-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-top: solid 2px #999;
    border-bottom: solid 2px #999;
    padding: 22px 745px;
}
.sec-third h4 {
    font-size: 20px;
}
.sec-third ul {
    display: flex;
    font-size: 33px;
}
.sec-third li {
    padding-left: 40px;
}


