@charset "UTF-8";

.nav-main li:nth-of-type(n) a{
    color: #B2B2B2;
}
.big-text {
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #3B3B3B;
}
.big-bg {
    margin-bottom: 161px;
    position: relative;
    background-position: 96% 100%;
    background-repeat: no-repeat;
}