@charset "UTF-8";
@import url("import-common-exc-home.css");

.nav-main li:nth-of-type(2) a{
    color: #3B3B3B;
}
.big-text {/* 
    top: 330px;
    left: 20%;
    color: #918F89; */
    position: absolute;
}
.big-bg {
    background-image: url(../images/news_top@2x.png);
}
.wrapper-news {
    margin-bottom: 0px;
}

@media (max-width: 375px) {
    .big-bg {
        background-image: url(../images/news_top_sp@2x.png);
        /* background-position: center top; */
    }
}