@charset "UTF-8";
@import url("import-common-exc-home.css");

.big-text {
    position: absolute;
}
.big-bg {
    background-image: url(../images/news_top@2x.png);
}
.wrapper-news {
    margin-bottom: 0px;
}

@media (max-width: 375px) {
    .big-bg {
        background-image: url(../images/news_top_sp@2x.png);
    }
}
